<div class="grid-container">
  <div class="grid-itemM">
    <button type="button" class="gridButton" (click)="limpiar()">LIMPIAR</button>
  </div>
  <div class="grid-itemM">
    <button type="button" class="gridButton" (click)="buscar()">BUSCAR</button>
  </div>
  <div class="grid-itemM">
    <button type="button" class="gridButton" disabled (click)="imprimir()">BORRAR</button>
  </div>
  <div class="grid-itemM">
    <button type="button" class="gridButton" (click)="modificar()">MODIFICAR</button>
  </div>
  <div class="grid-itemM">
    <button type="button" class="gridButton" (click)="modificar()">DUPLICAR</button>
  </div>
  <div class="grid-itemM">
    <p class="gridletter" (click)="modificar()">MÁQUINA PROVISIONAL:</p>
  </div>
  <div class="grid-itemM">
    <select class="gridSelect">
      <option></option>
      <option>Máquina A01</option>
      <option>Máquina A02</option>
      <option>Máquina A03</option>
      <option>Máquina A04</option>
      <option>Máquina A05</option>
    </select>

    <!-- <input type="text" class="gridInput" (click)="modificar()"> -->
  </div>
  <div class="grid-itemM">
    <button type="button" class="gridButton" (click)="anadir()">AÑADIR</button>
  </div>
  <!-- <div class="menuClientes2"> -->
  <div class="grid-itemM">
    <select class="gridSelect">
      <option></option>
      <option>Imprimir Listado ordenes Pendientes</option>
    </select>
  </div>
  <div class="grid-itemM">
    <button type="button" class="gridButton" (click)="anadir()">IMPRIMIR</button>
    <!-- </div> -->
  </div>

</div>
<div class="grid-container3">
  <div class="grid-container2">

    <div class="grid-item">
      <label for="referencia"><img class="lupa" src="../../../assets/lupa.gif" alt="">NÚM.ÓRDEN </label>
      <input type="text" name="referencia" id="referencia">
    </div>
    <div class="grid-item">
      <label for="referencia"><img class="lupa" src="../../../assets/lupa.gif" alt="">NÚM.PED.CLI.</label>
      <input type="text" name="referencia" id="referencia">

    </div>
    <div class="grid-item">
      <label for="referencia"><img class="lupa" src="../../../assets/lupa.gif" alt="">NÚM.CLI. </label>
      <input type="text" name="referencia" id="referencia">

    </div>
    <div class="grid-item">
      <label for="referencia"><img class="lupa" src="../../../assets/lupa.gif" alt="">NOMBRE CLIENTE </label>
      <input type="text" name="referencia" id="referencia">
    </div>
    <div class="grid-item">
      <label for="referencia">FECHA ALTA </label>
      <input type="text" name="referencia" id="referencia">
    </div>
    <div class="grid-item">
      <label for="referencia">ESTADO </label>
      <select class="select-grid-item">
        <option></option>
        <option>HORIZONTAL</option>
        <option>VERTICAL</option>
      </select>
    </div>
    <div class="grid-item">
      <label for="referencia">CONFIRMACIÓN EMAIL </label>
      <input type="text" name="referencia" DISABLED id="referencia">
    </div>

    <div class="grid-item">
      <button type="button" class="gridButton" (click)="anadir()">ENVIAR EMAIL</button>
    </div>

    <div class="grid-item">
      <label for="referencia">REFERENCIA </label>
      <select class="select-grid-item">
        <option></option>
        <option>HORIZONTAL</option>
        <option>VERTICAL</option>
      </select>
    </div>
    <div class="grid-item">
      <label for="referencia">TIPO VIDRIO </label>
      <input type="text" name="referencia" id="referencia" disabled>
      <!-- <p class="p-grid-item"></p> -->
    </div>
    <div class="grid-item">
      <label for="referencia">DESCRIPCION </label>
      <input type="text" name="referencia" id="referencia" disabled>
      <!-- <p class="p-grid-item"></p> -->
    </div>

    <div class="grid-item">
      <label for="referencia">TEXTO SERIGRAFÍA </label>
      <input type="text" name="referencia" id="referencia" disabled>
      <!-- <p class="p-grid-item"></p> -->
    </div>
    <div class="grid-item">
      <label for="referencia">UNID.CAJA </label>
      <input type="text" name="referencia" id="referencia" disabled>
      <!-- <p class="p-grid-item">UNID.CAJA</p> -->
    </div>
    <div class="grid-item">
      <!-- <p class="p-grid-item">CAPACIDAD</p> -->
      <label for="referencia">CAPACIDAD </label>
      <input type="text" name="referencia" id="referencia" disabled>
      <!-- <p class="p-grid-item">UNID.CAJA</p> -->
    </div>
    <div class="grid-item">
      <div class="grid-item">
        <label for="referencia">PESO </label>
        <input type="text" name="referencia" id="referencia" disabled>
      </div>
    </div>
    <div class="grid-item">
      <div class="grid-item">
        <label for="referencia">DESP. </label>
        <input type="text" name="referencia" id="referencia" disabled>
      </div>

    </div>
    <div class="grid-item">
      <div class="grid-item">
        <label for="referencia">MED.Ø1</label>
        <input type="text" name="referencia" id="referencia" disabled>
      </div>

    </div>
    <div class="grid-item">
      <label for="referencia">MED.C</label>
      <input type="text" name="referencia" id="referencia" disabled>
    </div>
    <div class="grid-item">
      <label for="referencia">CANTIDAD</label>
      <input type="text" name="referencia" id="referencia">
    </div>
    <div class="grid-item">
      <label for="referencia"> NÚM.LOTES</label>
      <select class="select-grid-item">
        <option></option>
        <option>HORIZONTAL</option>
        <option>VERTICAL</option>
      </select>

      <!-- <input type="text" name="referencia" id="referencia"> -->
    </div>
    <div class="grid-item">
      <label for="referencia">UNID.POR LOTE</label>
      <input type="text" name="referencia" id="referencia" disabled>
    </div>
    <div class="grid-item">
      <label for="referencia">VIDRIO NECESARIO</label>
      <input type="text" name="referencia" id="referencia" disabled>
    </div>
    <div class="grid-item">
      <label for="referencia"><img class="lupa" src="../../../assets/lupa.gif" alt="">LOTE DEL CLIENTE</label>
      <input type="text" name="referencia" id="referencia">
    </div>
    <div class="grid-item">
      <label for="referencia">NÚM.FABR. CLIENTE</label>
      <input type="text" name="referencia" id="referencia">
    </div>
    <div class="grid-item">
      <label for="referencia">CADUCIDAD</label>
      <input type="text" name="referencia" id="referencia">
    </div>
    <div class="grid-item">
      <label for="referencia"> FECHA ENTR.</label>
      <input type="text" name="referencia" id="referencia">
    </div>
    <div class="grid-item">
      <label for="textArea">OBSERVACIONES</label>
      <textarea type="text" class="textArea" name="textArea" id="textArea"></textarea>
    </div>
  </div>
</div>
