<nav class="nav-container1">
    <div class="borderMenuCol">
      <a class="navi-link" style="text-decoration: underline" routerLink="/articulosPpal">VOLVER</a>
    </div>
    <div class="borderMenuCol">
      <div class="nav-articulo">
        <p class="navi-link1" style="text-decoration: none" href="#">GALERÍA DE IMAGENES DE SERIGRAFIAS</p>
      </div>
    </div>
    <div class="borderMenuCol">
      <a class="navi-link" href="#" style="text-decoration:  underline" routerLink="/articulosPpal">VOLVER</a>
    </div>
  </nav>
