<div class="contenedorListadoPedido">
  <div class="contenedorMenuTop">
    <div class="listadoLotes">
    <p >LISTADO DE LOTES</p>
  </div>
  <div class="listadoLotes">
    <p>Filtrar</p>
  </div>
  <div class="listadoLotes">
    <select class="selectListadoClientes">
        <option></option>
        <option>Pendiente</option>
        <option>En revision</option>
        <option>En proceso</option>
      </select>
    </div>
  </div>

  <table class="table table-bordered">
      <thead>
        <tr class="tableHead">
          <th scope="col">NÚM. ORDEN</th>
          <th scope="col">NUM. LOTE</th>
          <th scope="col">MÁQUINA</th>
          <th scope="col">NUM. UNIDADES</th>
          <th scope="col">REF.</th>
          <th scope="col">LOTE CLIENTE</th>
          <th scope="col">SERIGRAFIA</th>
          <th scope="col">NOMBRE CLIENTE</th>
          <th scope="col">F.ENTREGA</th>
          <th scope="col">!</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">41999</th>
          <td>61718</td>
          <td> </td>
          <td>14.586</td>
          <td></td>
          <td> </td>
          <td>FARMACIA JUAN VICENS</td>
          <td>@FARMACIA JUAN VICENS</td>
          <td> </td>
        </tr>
        <tr>
          <th scope="row">42000</th>
          <td>61818</td>
          <td>Ampolla A01</td>
          <td>AT302011</td>
          <td>N-03</td>
          <td>ENDOCARE 1 ML.</td>
          <td>IND.FARMACEUTICA CANTABRIA, S.A</td>
          <td>27-07-2018</td>
          <td> </td>
        </tr>
      </tbody>
    </table>

    <div class="container-pagination">
        <div class="pagination">
          <!-- <a href="#">primero</a>
          <a href="#">anterior</a> -->
          <a href="# " class="active">1</a>
          <a href="#">2</a>
          <a href="#">3</a>
          <a href="#">4</a>
          <a href="#">5</a>
          <a href="#">6</a>
          <a href="#">7</a>
          <a href="#">8</a>
          <a href="#">9</a>
          <a href="#">10</a>
          <!-- <a href="#">siguiente</a>
          <a href="#">ultimo</a> -->
        </div>
      </div>


</div>
