/* You can add global styles to this file, and also import other style files */
body {
  background-color: #f8edf4;
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 1.3em;
}

/* .contenedor  {
  margin: 0;
  padding: .05rem .1rem;
  width: 100%;
 } */
