<div class="grid-container">
  <div class="items-around-art-sidebar">
    <div class="items-art-sidebar">
      <!-- <div class="menu-sizes"> -->
      <p class="menu-sizes-item">|<<</p> <!-- </div> -->
          <!-- <div class="menu-sizes"> -->
          <p class="menu-sizes-item">-10</p>

          <!-- </div> -->
          <!-- <div class="menu-sizes"> -->
          <p class="menu-sizes-item">-1</p>

          <!-- </div> -->
          <!-- <div class="menu-sizes"> -->
          <p class="menu-sizes-item">0/0</p>

          <!-- </div> -->
          <!-- <div class="menu-sizes"> -->
          <p class="menu-sizes-item">+1</p>

          <!-- </div> -->
          <!-- <div class="menu-sizes"> -->
          <p class="menu-sizes-item">+10</p>

          <!-- </div> -->
          <!-- <div class="menu-sizes"> -->
          <p class="menu-sizes-item">>>|</p>

          <!-- </div> -->
    </div>
  </div>

  <div class="items-around-art-sidebar2">
    <div class="items-art-sidebar2">
      <div class="menu-sizes-item">
        <div class="medidas-sep1">
          <h6> MEDIDAS </h6>
        </div>
      </div>
      <div class="menu-sizes-item">
        <div class="medidas-sep">
          <input class="item-boxLinea1" id="item1" type="text">
        </div>
      </div>
      <div class="menu-sizes-item">
        <div class="around-item-letter">
          <span class="item-letter" for="item1"> Ø1</span>
          <input class="item-box" id="item1" type="text">
        </div>
      </div>
      <div class="menu-sizes-item">
        <div class="around-item-letter">
          <span class="item-letter" for="item1">Ø2</span>
          <input class="item-box" id="item1" type="text">
        </div>
      </div>
      <div class="menu-sizes-item">
        <div class="around-item-letter">
          <span class="item-letter" for="item1"> Ø3</span>
          <input class="item-box" id="item1" type="text">
        </div>
      </div>
      <div class="menu-sizes-item">
        <div class="around-item-letter">
          <span class="item-letter" for="item1"> Ø4</span>
          <input class="item-box" id="item1" type="text">
        </div>
      </div>
      <div class="menu-sizes-item">
        <div class="around-item-letter">
          <span class="item-letter" for="item1"> Ø5</span>
          <input class="item-box" id="item1" type="text">
        </div>
      </div>
      <div class="menu-sizes-item">
        <div class="around-item-letter">
          <img class="image-sidebar" src="../../../../assets/whiteBox.jpg" alt="">
        </div>
      </div>
      <div class="menu-sizes-item">
        <div class="around-item-letter">
          <span class="item-letter" for="item1"> A &nbsp;</span>
          <input class="item-box" id="item1" type="text">
        </div>
      </div>
      <div class="menu-sizes-item">
        <div class="around-item-letter">
          <span class="item-letter" for="item1"> B &nbsp;</span>
          <input class="item-box" id="item1" type="text">
        </div>
      </div>
      <div class="menu-sizes-item">
        <div class="around-item-letter">
          <span class="item-letter" for="item1"> C &nbsp;</span>
          <input class="item-box" id="item1" type="text">
        </div>
      </div>
      <div class="menu-sizes-item">
        <div class="around-item-letter">
          <span class="item-letter" for="item1"> D &nbsp;</span>
          <input class="item-box" id="item1" type="text">
        </div>
      </div>
      <div class="menu-sizes-item">
        <div class="around-item-letter">
          <span class="item-letter" for="item1"> </span>
          <input class="item-box" id="item1" type="text" style="background:transparent; border:none">
        </div>
      </div>
      <div class="menu-sizes-item">
        <div class="around-item-letter">
          <span class="item-letter" for="item1">Ec</span>
          <input class="item-box" id="item1" type="text">
        </div>
      </div>
      <div class="menu-sizes-item">
        <div class="around-item-letter">
          <span class="item-letter" for="item1">Er</span>
          <input class="item-box" id="item1" type="text">
        </div>
      </div>
      <div class="menu-sizes-item">
        <div class="around-item-letter">
          <span class="item-letter" for="item1">Bi</span>
          <input class="item-box" id="item1" type="text">
        </div>
      </div>
      <div class="menu-sizes-item">
        <div class="around-item-letter">
          <span class="item-letter" for="item1">Bs</span>
          <input class="item-box" id="item1" type="text">
        </div>
        </div>
      <div class="menu-sizes-item">
        <div class="around-item-letter">
          <div class="btn-cambiar item-letter" for="item1">CAMBIAR</div>
      </div>
    </div>
  </div>

  <div  class="inferiorDottedLine" ></div>
  <div  class="inferiorBoxSidebar" >
      <div class="boxBottom">
          <!-- <div class="around-item-letter"> -->
            <div class="btn-cambiar item-letter" for="item1">&nbsp;</div>
        <!-- </div> -->
      </div>

      <div class="boxBottom">
          <!-- <div class="around-item-letter"> -->
            <img class="image2-sidebar" src="../../../../assets/whiteBox22.jpg" alt="">
          <!-- </div> -->
        </div>
        <div class="boxBottom">
            <!-- <div class="around-item-letter"> -->
              <div class="btn-cambiar item-letter" for="item1">CAMBIAR</div>
          <!-- </div> -->
        </div>




  </div>
</div>
